.header {
	padding-block: 50px;

	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 15px;
			img {
				width: 100px;
				height: auto;
			}
		}
		.hamburger{
			display: none;
		}
		.middle {
			nav {
				ul {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 40px;
					li {
						a {
							color: #fff;
							font-family: Montserrat;
							font-size: 12px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}
					}
				}
			}
		}
		.right {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 40px;
		}
	}
}

@media (max-width: 390px) {
	html {
		padding: 0px;
		margin: 0px;
		body {
			color: #ffffff;
			font-family: 'Montserrat', sans-serif;
			background: #302c42;
			.header {
				padding-block: 50px;

				.content {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.left {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 15px;
						img {
							width: 69px;
							height: auto;
						}
						.logo{
							width: 46px;
							height: auto;
						}
						
					}
					.hamburger{
						display: block;
						margin-left: auto;
					}
					.middle {
						nav {
							display: none;
						}
					}
					.right {
						display: none;
						
					}
				}
			}
		}
	}
}
