.section_3 {
	.cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 150px;
		gap: 10px;

		.renderCards {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #8176af;
			max-width: 320px;
			border-radius: 40px;
			background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
			padding: 0px 30px 40px 30px;
			h1 {
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 19px;
			}
			p {
				font-size: 12px;
				font-weight: 400;
				line-height: 25px;
				margin-top: 21px;
				margin-bottom: 35px;
			}
			.img {
				border-radius: 50%;
				border: #211e2e 10px solid;
				margin: 23px 45px;
			}
		}
	}
}
//////////////////////////////	MEDIA
@media (max-width:390px){
	.section_3 {
	.cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 150px;
		gap: 10px;

		.renderCards {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #8176af;
			max-width: 320px;
			border-radius: 40px;
			background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
			padding: 0px 30px 40px 30px;
			h1 {
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 19px;
			}
			p {
				font-size: 12px;
				font-weight: 400;
				line-height: 25px;
				margin-top: 21px;
				margin-bottom: 35px;
			}
			.img {
				border-radius: 50%;
				border: #211e2e 10px solid;
				margin: 23px 45px;
			}
		}
	}
}
}
